[submodule "submodules/pubsubclient"]
	path = submodules/pubsubclient
	url = https://github.com/knolleary/pubsubclient
	branch = master
[submodule "submodules/espsoftwareserial"]
	path = submodules/espsoftwareserial
	url = https://github.com/plerup/espsoftwareserial/
	branch = master
[submodule "submodules/DHTesp"]
	path = submodules/DHTesp
	url = https://github.com/beegee-tokyo/DHTesp
	branch = master
[submodule "submodules/Adafruit_Sensor"]
	path = submodules/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
	branch = master
[submodule "submodules/Adafruit_BME680"]
	path = submodules/Adafruit_BME680
	url = https://github.com/adafruit/Adafruit_BME680
	branch = master
[submodule "submodules/Adafruit-BMP085-Library"]
	path = submodules/Adafruit-BMP085-Library
	url = https://github.com/adafruit/Adafruit-BMP085-Library
	branch = master
[submodule "submodules/sds-dust-sensors-arduino-library"]
	path = submodules/sds-dust-sensors-arduino-library
	url = https://github.com/lewapek/sds-dust-sensors-arduino-library
	branch = master
[submodule "submodules/MQSensorsLib"]
	path = submodules/MQSensorsLib
	url = https://github.com/miguel5612/MQSensorsLib
	branch = master
